.DS_Store
.venv/
data/*
outputs/*

!data/raw/
!data/processed/
!outputs/figs/
!outputs/performance/
!data/.gitkeep
!outputs/.gitkeep

data/raw/**/*
data/processed/**/*
outputs/figs/**/*
outputs/performance/**/*

